<!doctype html>
<html ng-app="CadClientes">
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="utf-8">
<script src="angular-1.7.8/angular.js"></script>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

<script>
angular.module("CadClientes", []);
angular.module("CadClientes").controller("CadClientesCtrl", 
function ($scope) {

    $scope.app = "Cadastro de Clientes";
    $scope.clientes = [
        {
            nome: "Caio", codigo: "0001"
        },
        {
            nome: "Amanda", codigo: "0002"
        },
        {
            nome: "Neuza", codigo: "0003"
        },
    ];
    $scope.adicionarClientes = function(cliente) {
        $scope.clientes.push(angular.copy(cliente));
        delete $scope.cliente;
    };

});
</script>


<title>Cadastro de Clientes</title>
</head>

<body ng-controller="CadClientesCtrl">
    <div class="jumbotron"> <h3> {{app}} </h3> 
    <table class="table table-striped" >
        <tr> 
            <th>Nome </th>
            <th>Código</th>
        </tr>
        <tr ng-repeat="cliente in clientes">
            <td>
                {{cliente.nome}}
            </td>
           <td>
               {{cliente.codigo}}
           </td>


        </tr>
    </table>

    <hr>


    <input class="form-control" type="text" ng-model="cliente.nome"
    placeholder="Nome" >
    <input class="form-control" type="text" ng-model="cliente.codigo"
    placeholder="Código">
   
    <button class="btn btn-primary btn-block" ng-click="adicionarClientes(cliente)" ng-disabled="!cliente.nome || !cliente.codigo">
        Adicionar Clientes
    </button>

</div>
</body>
</html>